<h1>All Genres</h1>
<% @genres.each do |genre| %>
  <p><%= genre['name'] %></p>
<% end %>
  
<form action="/genres" method="post">
  <div class="row">
    <div class="medium-6"> 
      <input name="name" type="text" placeholder="Enter New Genre"/>
      <button>Create Genre</button> 
    </div>
  </div>
</form>