<body>

<div class="wrapper"><a href="/">&lt;- Back to Everything</a>
<div class="wrapper">
<h1 class="font-effect-shadow-multiple">All Genres</h1>

<select class="select">
  <% @genres.each do |g| %>
    <option> <%= g['name'] %> </option>
  <% end %>   
</select>


<form action="/genres" method="post">
  <h3>Add a new genre</h3>
  <label>Genre Name:</label>
  <input class="select" name="name" type="text" />
  <button>Create Genre</button>
</form>
</div>
</div>
</body>