<a href="/">&lt;- Back to Everything</a>
<h1>All Genres</h1>

<ul>
  <% @genres.each do |genre| %>
    <li><%= genre['name'] %></li>
  <% end %>
</ul>

<form action="/genres" method="post">
  <h3>New Genre</h3>
  <label>Genre Name:</label>
  <input type="text" name="genre_name" />
  <button>Create Genre</button>
</form>
