<a href="/">&lt;- Back to Everything</a>
<div>
  <h1>All Genres</h1>

  <ul>
    <% @genres.each do |genre| %>
      <li><%= genre['name'] %></li>
    <% end %>
  </ul>

  <form action="/genres" method="post">
    <h3>New Genre</h3>
    <label>Genre Name:</label>
    <input name="name" type="text" />
    <button>Create Genre</button>
  </form>
</div>
