<h1>All Books</h1>

<form method="POST" action="/books">
	<h3>Add new book</h3>
	<label>Title:</label>
	<input type="text" name="title" />
	<label>Author:</Author>
	<input type="text" name="author" />	
	<button>Add</button>
</form>
<%= @title %>
<br>
<%= @books %>