<div class="wrapper">
<div class="main">
<h1 class="font-effect-shadow-multiple">The Songify System</h1>



<ul >
  <li><a class="font-effect-stonewash" href="/albums" class="main-links">View Albums</a></li>
  <li><a class="font-effect-stonewash" href="/genres" class="main-links">View Genres</a></li>
</ul>
</div>
</div>