<html>
<head>
<style media="screen" type="text/css">

body {
	padding: 20px;
	margin-left: 20px;
}
form {
	width: 30%;
}
</style>
</head>
<h1>The Library+ System</h1>
<p>Welcome to your freedom!</p>
<a href="/users">View all users</a> | <a href="/books">View all books</a><br><br>
<p>Find a book:</p><br>
<form method="post" action="/books"><input name="title"  type= "text">
<input type="submit">
</form>
</body>
</html>