<div>
  <h1>The Songify System</h1>

  <p>You're gonna be big</p>

  <ul>
    <li><a href="/albums">View/Add Albums</a></li>
    <li><a href="/genres">View/Add Genres</a></li>
    <li><a href="/songs">View/Add Songs</a>
  </ul>
</div>
