<div>
  <h1>The Library+ System</h1>
  <h3>Welcome to your freedom!</h3>
  <ul> <u>Librarian Tools</u>
    <li><a href="/users">Manage Users</a></li>
    <li><a href="/books">Manage Books</a></li>
    <li><a href="/checkouts">Checkout Books</a></li>
  </ul>
</div>