<h1>The Songify System</h1>

<p>You're gonna be big</p>

<ul>
  <li><a href="/albums">View Albums</a></li>
  <li><a href="/genres">View Genres</a></li>
  <li><a href="/songs">View Songs</a></li>
</ul>
