<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css">
  <style type="text/css">
    div {
      width: 50%;
      margin: auto;
    }
    ul {
      list-style-type: none;
    }
  </style>
</head>
<body>
<%= yield %>
<br /><br /><br />
</body>
</html>