<!DOCTYPE html>
<html>
<head>
  <title>Cool Library</title>
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css">
</head>
<body>
  <center><a href="/">Home</a> |  <a href="/books">Books</a> | <a href="/users">Users</a></center>
  
  <center><%= yield %></center>
</body>
</html>