<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css">
</head>
<body>
  <center><a href="/">Home</a> |  <a href="/albums">Albums</a> | <a href="/genres">Genres</a> | <a href="/songs">Songs</a></center>
  
  <center><%= yield %></center>
</body>
</html>