<!DOCTYPE html>
<html>
<head>
  <title>Songify-orama!</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css">
</head>
<body style="margin:25px; background-image:url('http://www.pictures.com.bd/wp-content/uploads/2014/01/875.jpg')">

  <%= yield %>

</body>
</html>