<html>
<head>
  <title name="title"><%= @title %></title>
</head>
<body>
  <%= yield %>
  <br>
  <h1>Quicklinks</h1><br>
  <a href="/">HOME</a><br>
  <a href="/books">BOOKS</a><br>
  <a href="/users">USERS</a>
</body>
</html>