<div class="row">
	<div class="colums large-12">
		<h3>NEW PUPPY</h3>
	</div>
</div>
<div class="row">
	<div class="columns large-12">
			<div class="row panel">
				PUPPY NAME: <%= @new_puppy[0].name %>, DATE OF BIRTH: <%= @new_puppy[0].dob %>, BREED: <%= @new_puppy[0].breed %>, STATUS: <%= @new_puppy[0].status %> 
			</div>
	</div>
</div>