a {
  text-decoration: none;
  color: black;
}

.album-wrapper {
  text-align: center;
  letter-spacing: 0;
}

.album-cover {
 margin: auto;
}

.album-artist {
  padding-bottom: 5%;
}

.add-inner, .edit-inner {
  padding: 5px;
}
img {
  max-width: 90%;
}