<html>
<head>
	<style>
		input {
			width:200px;
			margin:5px;
			padding: 0;
		}

	</style>
<title>SongiFY - Music of Choice</title>
</head>
<body>
<fieldset>
	<legend>SONGIFY</legend>

<%= yield %>



</fieldset>
</body>


</html>