
<html>
<body>
<form method="post" action="/create">
	<div>
		<input type="text" name="artist" value="Artist">
		<input type="text" name="title" value="Title">
		<input type="text" name="album" value="Album">
		<input type="text" name="length" value="Length">
	</div>
	<input type="submit" value="Submit Info">
</form>



</body>
</html>