
<html>
<body>
<form method="post" action="/create">
	<div>
		<input type="text" name="artist" placeholder="Artist">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="album" placeholder="Album">
		<input type="text" name="length" placeholder="Length">

		<select name="genre_id">
		<% genres.each do |g| %>
		  <option value=<%= g.id %>><%= g.genre %></option>
		<% end %>
		</select>
	</div>
	<input type="submit" value="Submit Info">
</form>



</body>
</html>