* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #e1feee;
	font: Arial;
}

.thebox {
	margin-top: 10%;
}

.myForm {
	margin: 1em auto;
	padding: 3em ;
	width: 60%;
	background-color: #5fcf80;
}

.container {
	margin: .5em auto;
	width: 100%;
	background-color: #5fcf80; 
}

.form {
	margin: 2em auto;
	width: 100%;
	display: block;
}

.textfield {
	display: block;
	width: 100%;
	padding: .25em 0 .25em 1em;
	border: 0;
	background-color: #e1feee;
}

.submitbutton {
	width: 100%;
	border: 0px;
	font-size: 2em;
	color: #fff;
	text-align: center;
	background-color: #008f43;
}

