<h1>All Songs</h1>
  <% @songs.each do |song| %>
    <p><%=song['title'] %></p>
  <% end %>
    
<form action="/songs" method="post">
  <div class="row">
    <input class="row small-4" name="title" type="text" placeholder="New Song Title" />
    <label>Select Album</label>
    <div class="medium-4">
      <select name="album_id">
        <% @albums.each do |album| %>
          <option value='<%= album['id'] %>'><%= album['title'] %></option>
        <% end %>
      </select>
    </div>
  </div>
  <button>Create Song</button>
</form>
    
