<html>
<head>
	<title>Song Created</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
</head>
<body>
	<header class="cf">
		<h1><a href="/index">Songify</a></h1>
		<ul>
			<li><a href="/show">Show songs</a></li>
			<li><a href="/new">Add new song</a></li>
		</ul>
	</header>	

	<p> Song has been added! </p>
</body>
</html>