<html>
<head>
	<title>Song Created</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
</head>
<body>
	Song has been added!

	<a href="/index">Return to index</a>
</body>
</html>