Would you like to delete one song or all songs?

<form action='/delete' method='post'>
<div><input type='submit' name='delete_all_songs'></div>
</form> 

<% if defined?(@judge) %>
	You <%= @judge %>!
<% end %>

You are viewing layout : delete.