<html>
<head>
	<title>Song Created</title>
</head>
<body>
	There was an error adding this song to the database. Pleae fill out all fields.
	<br>
	<br>
	<a href="/index">Return to index</a>
</body>
</html>