<!DOCTYPE html>
<html>
<head>
  <title>Books By Title</title>
</head>
  <body>
    <ul>
      <% @songs.each do |song| %>
        <li><%= song.title %></li>
      <% end %>
    </ul>	
  </body>
</html>