<!DOCTYPE html> 
<html>
<head>
	<title>test title</title>
	<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css'>
</link>
</head>
<body>
	<form action='/show' method='post'>
		<input type='submit' value='Show Songs'>
	</form>
</body>
</html>
