<!DOCTYPE html>
<html>
<head>
  <title>Books By Title</title>
</head>
  <body>
    <ul>
    <a href = '/show'>Show all Songs</a>     
    <a href = '/new'>Add A Song!</a>
     <a href = '/search_genre'>Search A Song by Genre</a>
    </ul>	
  </body>
</html>