<html>

	<head>
		<title>Songify</title>
	</head>

	<body>
		<h1>Songify</h1>
		<ul>
			<li>
				<form action='/show' method='post'>
					<input type='text' name='get_song_id' value="song id">
					<input type='submit' value='Get song'>
				</form>
			</li>
			<li>Get all songs</li>
			<li>Save a song</li>
			<li>Delete a song</li>
		</ul>
	</body>

</html>