<!DOCTYPE html> 
<html>
<head>
	<title>test title</title>
	<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css'>
</link>
</head>
<body>
	<div>
		<a href='/show'>Show All Songs</a>
	</div>
	<div>
		<a href='/new'>Add a song</a>
	</div>
	<div>
		<form action='/show' method='post'>
			<label>Show songs by genre</label>
			<input type='text' name='genre_search'>	
		</form>
	</div>
</body>
</html>
