<html>

<head>
	<title>Songify</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
</head>

<body>
	<div class="circle outer">
	  <div class="circle middle">
	    <div class="circle inner">
	      <div class="circle inside">
	        <div class="text">Songify</div> 
	      </div>
	    </div>
	  </div>
	</div>
	<div class="string"></div>

	<header class="cf index">
		<h1><a href="/index">Songify</a></h1>
		<ul>
			<li><a href="/show">Show songs</a></li>
			<li><a href="/new">Add new song</a></li>
		</ul>
	</header>
</body>

</html>