<!DOCTYPE html>
<html>
<head>
	<title><%= Songify %></title>
</head>
<body>
<h1>Songify</h1>
<h3><a href='/show'><%= "Show Songs" %></a></h3>
<h3><a href='/new'><%= "Add New Song" %></a></h3>
</body>
</html>