<html>

	<head>
		<title>Songify</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
    	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
	</head>

	<body>
		<h1>Songify</h1>
		<ul>
			<li><a href="/show">Show songs</a></li>
			<li><a href="/new">Add new song</a></li>
		</ul>
	</body>

</html>