<!DOCTYPE html> 
<html>
<head>
	<title>test title</title>
	<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css'>
</link>
</head>
<body>
	<a href='/show'>Show All Songs</a>
	<a href='/new'>Add a song</a>
</body>
</html>
