<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/show/1">Show single song</a>
		<a href="/new">New song</a>
	</nav>
	<%= yield %>
</body>
</html>
