<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Raleway' rel='stylesheet' type='text/css'>
	<title>Songify</title>
	<style type="text/css">
		* {
			box-sizing: border-box;
		}
		.header {
			text-align: center;
			font-family: 'Raleway';
		}
		
	</style>
</head>
<body>
<h1 class="header">Songify</h1>
	<nav>
		<a href="/">Home</a>
		<a href="/show">Show all songs</a>
		<a href="/new">New song</a>
	</nav>
	<%= yield %>
</body>
</html>
