<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/index" method="post">
	    <select id="choice-selector" name="action">
	      <option value="get_all">Get all songs</option>
	      <option value="post">Post a song</option>
	      <option value="delete">Delete a song</option>
	    </select>
	    <input type="submit">
	</form>
	<%= yield %>
</body>
</html>
