<!DOCTYPE html>
<html>
<head>
	<title>
		Songify
	</title>
</head>

<body>

<div>Music, yeah!</div>

<div><a href='/'>Home</a></div>

<div><a href='/show'>Show music database</a></div>

<div><a href='/show_some'>Show music database by query</a></div>

<div><a href='/new'>Add a song</a></div>

<div><a href='/delete'>Clean your database</a></div>

<div><%= yield %></div>

</body>
	
</html>