<form action="/create" method="post">
	<label for="song_title">Song Title:</label>
	<input name="title" type="text"><br>
	<label for="song_artist">Artist:</label>
	<input name="artist" type="text"><br>
	<label for="album">Album:</label>
	<input name="album" type="text"><br>
	<input name="submit" type="submit"><br>
</form>