<!DOCTYPE html>
<html>
<head>
  <title>Song Input</title>
</head>
  <body>
    <form action = '/create', method = 'post'>
    <label for = 'song title'>Song Title: </label> 
    <input name = 'title', type = 'text'></br>
    <label for = 'song artist'>Song Artist: </label>
    <input name = 'artist', type = "text"></br>
    <label for = 'song album'>Song Album: </label>
    <input name = 'album', type = 'text'></br>
    <label for = 'song genre'>Song Genre: </label>
    <input name = 'genre', type = 'text'></br>
    <input name ='submit', type = 'submit'></br>

    <input name = 'Search by Genre', type = 'text'></br>
    <input name ='submit', type = 'submit'></br>

  </form>
  </body>
</html>