<form action='/create' method='post'>
	<label>Title</label>
		<input type='text' name='title'>	
	<label>Artist</title>
		<input type='text' name='artist'>
	<label>Album</label>
		<input type='text' name='album'>
		<input type='submit' value='Add Song'>
</form> 