<div class="thebox">
	<form class="myForm shadow" action="/create" method="post">
		<div class="container">
			
			<div class="form">
				<input class="textfield" type="text" placeholder="Song Title" name="title">
			</div>
			<div class="form">
				<input class="textfield"type="text" placeholder="Artist" name="artist">
			</div>
			<div class="form">
				<input class="textfield"type="text" placeholder="Album" name="album">
			</div>
<!-- 			<div class="form"> -->
				<input class="submitbutton" type="submit" value="add song">
			<!-- </div> -->
		</div>
	</form>
</div>
