


<div class="thebox">
	<form class="myForm" action="/create" method="post">
		<div class="container">
			
			<div class="form">
				<input class="textfield" type="text" placeholder="Song Title" name="title">
			</div>
			<div class="form">
				<input class="textfield"type="text" placeholder="Artist" name="artist">
			</div>
			<div class="form">
				<input class="textfield"type="text" placeholder="Album" name="album">
			</div>
			<div class="form">
				<input class="textfield" type="text" placeholder="Genre" name="genre">
			</div>
				<input class="submitbutton" type="submit" value="add song">
		</div>
	</form>
</div>

<div class="playlist-box">
	<div class="table">
	<table>
	<% @songs.each do |x| %>
		<tr>
			<td class="songid"><%= x.id %></td>
			<td class="songtitle"><%= x.title %></td>
			<td class="artist"><%= x.artist %></td>
			<td class="genre"><%= x.genre_id %></td>
		</tr>
	<% end %>
	</table>
	</div>
</div>
