<form action="/create" method="post">
	<label for="title">TITLE:</label>
	<input type="text" name="title"></br>
	<label for="title">ARTIST:</label>
	<input type="text" name="artist"></br>
	<label for="album">ALBUM:</label>
	<input type="text" name="album"></br>
	<label for="genre">GENRE:</label>
	<input type="text" NAME="genre">
	<input type="submit" value="submit">
</form>