<h1>Songify</h1> 
<h3>Add new song</h3><br />
<form action="/create" method="post">
<label for="Title">Title:</label>
<input name="title" id="Title" type="text"><br />
<label for="Title">Artist:</label>
<input name="artist" id="Artist" type="text"><br />
<label for="Title">Genre:</label>
<input name="genre" id="Genre" type="text"><br />
<input type="submit">
</form>