<form action="/create" method="post">
  <label for="post_radio">Post a song</label>
  <label for="title-input">Title:</label>
  <input id="title-input" type="text" name="title">
  <label for="artist-input">Artist:</label>
  <input id="artist-input" type="text" name="artist">
  <label for="album-input">Album:</label>
  <input id="album-input" type="text" name="album">
  <input type="submit">
</form>