<form action='/create' method='post'>
	<label for="title">Title:</label>
	<input type='text' name='title' id="title"><br>

	<label for='artist'>Artist:</label>
	<input type='text' name='artist' id="artist"><br>

	<label for='album'>Album:</label>
	<input type='text' name='album' id="album"><br>

	<input type='submit' value='Add Song'>
</form> 