<form action="/create" method="post">
	<label for="song_title">Title:</label>
	<input name="song-title" id="song_title" type="text"><br>
	<label for="song_artist">Artist:</label>
	<input name="song-artist" id="song_artist" type="text"><br>
	<label for="song_album">Album:</label>
	<input name="song-album" id="song_album" type="text"><br>
	<label for="song_genre">Genre:</label>
	<input name="song-genre" id="song_genre" type="text"><br>

	<input type="submit">
</form>