<form action="/create" method="post">
	<label for="title">TITLE:</label>
	<input type="text" name="title"></br>
	<label for="title">ARTIST:</label>
	<input type="text" name="artist"></br>
	<label for="album">ALBUM:</label>
	<input type="text" name="album"></br>
	<label for="genre">GENRE:</label>
	<input type="text" NAME="genre">
	<select name="select_genre">
		<% genres.each do |genre| %>
  		<option value= <%=genre.id.to_s%>><%= genre.name%></option> 
 		<% end %>
	</select>
	<input type="submit" value="submit">
</form>