<!DOCTYPE html>
<html>
<head>
	<title>Adding New Song</title>
</head>
<body>
	<form action= '/create' method= 'post'>
		<label>Title:</label><input type= 'text' name= 'song_title'>
		<label>Artist:</label><input type= 'text' name= 'song_artist'>
		<label>Album:</label><input type= 'text' name= 'song_album'>
		<input type= 'submit' value= 'submit mofo'>
	</form>

</body>
</html>