<html>
<head>
	<title>Songify: Show Songs</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
</head>
</head>
<body>
	<header class="cf">
		<h1><a href="/index">Songify</a></h1>
		<ul>
			<li><a href="/show">Show songs</a></li>
			<li><a href="/new">Add new song</a></li>
		</ul>
	</header>	

	<h2>Song List</h2>

	<label class="input-label show" for="genre_id">Sort By Genre</label>
	<select class="drop-down show" name="genre_id">
		<option value="" selected>All Genres</option>
		<% @genres.each do |x| %>
			<option value=<%= "#{x.genre_name.capitalize}" %>><%="#{x.genre_name.capitalize}"%></option>
		<% end %>
	</select>

	<% if @songs.empty? %>
		<%= "Songs database is empty." %>

	<%else%>
		<ol class="list">
			<% @songs.each do |song| %>
				<% genre = Songify.genres_repo.get_genre(song.genre_id) %>
				<li><span class="list"><%= "#{song.title}, #{song.artist}, #{song.album}, #{genre.genre_name.capitalize}"  %> </span></li>
			<% end %>
		</ol>
	<% end %>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript">

		$('select.show').on('change', function(e) {
			if ($('select option:selected').val() == "") {
				$('ol li').show();
			} else {
				var genre = $('select option:selected').val();
				var re = /([A-Za-z0-9]*)$/;
				var found = genre.match(re);

				var re2 = /^(\d*)/;

				$('ol li').hide();
				$('ol li:contains(' + found[0] + ')').show();
			};		
		});

	</script>
</body>
</html>