<html>
<head>
	<title>Songify: Show Songs</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
</head>
</head>
<body>
	<header class="cf">
		<h1><a href="/index">Songify</a></h1>
		<ul>
			<li><a href="/show">Show songs</a></li>
			<li><a href="/new">Add new song</a></li>
		</ul>
	</header>	

	<h2>All Songs</h2>

	<% if @songs.empty? %>
		<%= "Songs database is empty." %>
	<%else%>
		<% @songs.each do |song| %>
			<% genre = Songify.genres_repo.get_genre(song.genre_id) %>
			<span class="list"><%= "#{song.id}. #{song.title}, #{song.artist}, #{song.album}, #{genre.genre_name.capitalize}"  %> </span>
		<% end %>
	<% end %>
</body>
</html>