<% if defined? @song %>
  <table>
  <tr>
  	<th>ID</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
  </tr>
  <tr>
  <% if @song != nil %>
  	<td><%= @song.id %></td>
  	<td><%= @song.title %></td>
  	<td><%= @song.artist %></td>
  	<td><%= @song.album %></td>
  	<% end %>
  </tr>
</table>
<% end %>