<form action='/create' method='post'>
<div>
<div>	<label for='song_title'>Title</label> </div>
<div>	<input type='text' name='song_title'> </div>
</div>

<div>	
<div>	<label for='song_artist'>Artist</label> </div>
<div>	<input type='text' name='song_artist'></div>
</div>

<div>
<div>	<label for='song_album'>Album</label> </div>
<div>	<input type='text' name='song_album'> </div>
</div>

<div>
<div>	<label for='song_yearpublished'>Year published</label> </div>
<div>	<input type='text' name ='song_yearpublished'> </div>
</div>

<div>
<div>	<label for='song_rating'>Rating</label> </div>
<div>	<input type='text' name ='song_rating'> </div>
</div>

<div><input type='submit' name='FLIP'></div>
</form> 

You are viewing layout : new / websongify.