* {
  box-sizing: border-box;
}

html {
	font-family: sans-serif;
	margin-left: 20px;
}

body {
	background: #eee;
	transform: translate3d(0,0,0);
}

.circle, .text, .string, .text {
  transform-style: preserve-3d;
  position: relative;
  font-size: 15px;
}

.string {
  width: 36em;
  height: .06em;
  background: black;
  transform: translateZ(-1em) translate(0em, -.6em);
  animation: extend 3s 1s forwards;
}

.outer {
  width: 6em;
  height: 6em;
  border-radius: 6em;
  margin: .3em .6em;
  background: linear-gradient(to bottom right, #000, #555, #000);
  transform: translate(33em, 0) rotate(360deg);
  animation: roll 3s 1s forwards;
}

.middle {
  width: 4.2em;
  height: 4.2em;
  border-radius: 4.2em;
  background: linear-gradient(to bottom right, #000, #555, #000);
  transform: translate(.9em, .9em);
}

.inner {
  width: 2.7em;
  height: 2.7em;
  border-radius: 2.7em;
  background: #222;
  transform: translate(.75em, .75em);
}

.inside {
  width: 1.5em;
  height: 1.5em;
  background: white;
  border-radius: 1.5em;
  transform: translate(.6em, .6em) rotate(360deg);
  animation: spin 3s 1s forwards;
}

.text {
  color: #eee;
  transform: translate(-0.8em, 2em);
  font-family: cursive;
  
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

header.index {
	transform: translate(0, -5em);
}

h1 {
	margin-bottom: .5em;
	margin-top: .5em;
	margin-right: 1em;
	font-size: 2em;
	float: left;
}

h1 a {
	padding: .1em .2em .1em 0;
}

a {
	text-decoration: none;
	color: #555;
	border-radius: .3em;
}

h2 {
	margin: 1em 0;
	text-align: left;
	font-size: 1.1em;
	font-weight: 600;
	color: #555;
}

li a {
	margin-top: 2em;
	margin-left: 3em;
	font-size: .75em;
	text-transform: uppercase;
	float: left;
	padding: .5em;
}

li a:hover {
	background-color: #555;
	color: #eee;
}

span.list, .input-label, p {
	display: block;
	margin-top: .5em;
	color: #555;
}

.drop-down, .user-input {
	width: 12em;
}

.submit-user-input {
	width: 8em;
	color: #555;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #ccc;
	border-radius: .4em;
	margin-top: .5em;
	margin-left: 2em;
}

/*@keyframes spin {
  from {
	transform: translate(.6em, .6em) rotate(0);
  }
  to {
    transform: translate(.6em, .6em) rotate(360deg);
  }
} 

@keyframes roll {
  from {
	transform: translateZ(1em, 0);
  }
  to {
    transform: translate(33em, 0) rotate(360deg);
  }
}

@keyframes extend {
  from {
	transform: translateZ(-1em) translate(-33em, -0.6em);
  }
  to {
    transform: translateZ(-1em) translate(0em, -.6em);
  }
}*/

