<h1>All Users</h1>

<form method="POST" action="/users">
	<h3>Register New User</h3>
	<label>Name:</label>
	<input type="text" name="name" />
	
	<button>Register</button>
</form>
<%= @name %>
<br>
<%= @users %>

