<h1>New Guy</h1>
<form method="POST" action="/users/create">
  <h3>Register New Guy</h3>
  <input type="text" placeholder="Put guy's name here" id="name" name="name" />

  <button>To Literacy!</button>
</form>

<br/>
<h1>All Guyz</h1>
<% @users.each do  |user| %>
  <p><a href="#"><%= user['name'] %></a></p>
<% end %>
