<h1>All Albums</h1>
  <% @albums.each do |album| %>
    <p><%= album['title'] %></p>
  <% end %>
  
<form action="/albums" method="post">
  <div class="row">
  <div class="medium-4"><input name="title" type="text" placeholder="New Album Title"/></div>
  <button>Create Album</button>
  </div>
</form>

