<!-- <!DOCTYPE html>
<html>
<body> -->

<a href="/">&lt;- Back to Everything</a>
<h1>All Albums</h1>

<ul>
  <% @albums.each do |album| %>
    <li><%= album['title'] %>: <%= album['count'] %> songs</li>
  <% end %>
</ul>

<form action="/albums" method="post">
  <h3>New Album</h3>
  <label>Album Title:</label>
  <input name="title" type="text" />
  <br>
  <br>
  <label> Genres: </label>
  <br>
  <div class="genre">
  <select name="genre_ids[]">
  	<% @genres.each do |genre| %>
  		<option value="<%= genre['id'] %>"> <%= genre['name'] %> </option>
  	<% end %>
  </select>
  <a href=# class="remove-genre">Remove</a>
  <br>
  </div>
  <a href=# class="add-genre">Add Genre</a>
  <br>
  <button>Create Album</button>
</form>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
	
	$(document).on("click", ".add-genre", function(e){
		e.preventDefault()
		$( "button" ).before( $(".genre").last().clone())
		// $( ".add-genre" ).last().remove()
		// $( ".genre" ).last().append( $( ".add-genre" ) )
		
	})

	$(document).on("click", ".remove-genre", function(e){
		e.preventDefault()
		$(this).parent().remove()
	})

</script>
</body>
<!-- eoifjweofiwej -->
<!-- eoifjweofiwej -->
<!-- eoifjweofiwej -->
<!-- eoifjweofiwej -->