<head>
<style media="screen" type="text/css">

body {
	padding: 20px;
	margin-left: 20px;
}
select {
	width: 40%;
}


</style>
</head>
<body>
<a href="/">&lt;- Back to Everything</a>
<h1>All Albums</h1>

<ul>
  <% @albums.each do |album| %>
    <li><a href=<%= "/albums/" + album['id'] %>><%= album['title'] %></a></li>
  <% end %>
</ul>

<form action="/albums" method="post">
  <h3>New Album</h3>
  <label>Album Title:</label>
  <input name="title" type="text" />
 <div class="selectors">
 <select name ="genreid[]">
 <option value="" disabled selected>Select genre</option>
 <% @genres.each{ |g| %>
<option value= <%= g["id"]%>><%=g["name"]%></option>
 	<% } %> 
 	</select><br></div>
 	<a class="addlink">add another genre</a><br><br>
  <button>Create Album</button>
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
 $('.addlink').on('click', function(e){
 	$('.addlink').before($('.selectors:first').clone());
 })
})
</script>
</body>

